@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200;1,500&display=swap');
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

.featured-container{
    background-color: black;
    width: 100vw;
    height: 50vh;
}

#featured{
    color: white;
    text-align: center;
    padding: 5vh 0;
    font-family: 'Bitter',sans-serif;
    font-weight: 500;
}

.card-container{
    width: 480px;
    box-shadow: 0px 0px 50px #ddbea9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 40px;
}


.card-display{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-img{
    background: linear-gradient(90deg, #d0b8ac, #fff);
    display: flex;
    align-items: center;
}

.card-img img{
    width: 64%;
}

.card-text{
    background: #fff;
    padding: 30px 20px 20px 20px;
}

.card-text p {
    margin: 20px 0 0 0;
    opacity: 0.7;
}

.card-text span {
    display: block;
    width: 40px;
    height: 5px;
    background: #ddbea9;
    border-radius: 10px;
    margin: 20px 0 20px 0;
  }
  .card-text .card-button {
    display: flex;
    align-items: center;
  }
  .card-text .card-button a {
    margin: 0 10px 0 0;
    color: #000;
    text-decoration: none;
  }